
%p
  %b Name:
  = @order.name
%p
  %b Address:
  = @order.address
%p
  %b Email:
  = @order.email
%p
  %b Pay type:
  = @order.pay_type
%p
  %b Items in Order:
  
  -@line_item = @order.line_items.all
  -@line_item.each do |l|
    %table
      %tr
        /%th Name
        /%th
        /%th Quantity
      %td= Product.find_by(id: l.product_id).title
      %th x
      %td= l.quantity
      %th = $
      %td= (l.quantity) * Product.find_by(id: l.product_id).price
      - @new = ((l.quantity) * Product.find_by(id: l.product_id).price)
    
%p
  %b Total price
  = @new * 2
     
/= link_to 'Edit', edit_order_path(@order)
=link_to 'Back', orders_path